@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
  display: block;
}

* {
  font-family: Outfit;
}

main {
  padding-top: 80px; /* Ajuste conforme a altura da sua navbar */
}

.prata-regular {
  font-family: 'Prata', serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

/* Sobrescreve a posição do container do toast */
.Toastify__toast-container {
  top: 50% !important; /* Centraliza verticalmente */
  transform: translateY(-50%) !important; /* Corrige o deslocamento vertical */
  right: 1rem !important; /* Define a posição no lado direito */
}

/* Para garantir que as notificações individuais tenham padding adequado */
.Toastify__toast {
  margin-bottom: 1rem;
}

/* Default styles for Swiper navigation buttons */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 50px !important; /* Adjust the arrow size */
  color: rgb(184, 182, 182) !important; /* Change the arrow color */
  content: '›' !important; /* Custom arrow (right) */
  display: flex !important; /* Make sure it's flex */
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important; /* Ensure full width */
  height: 100% !important; /* Ensure full height */
}

.swiper-button-prev::after {
  content: '‹' !important; /* Custom arrow (left) */
}

@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}

.cursor-pointer-zoom {
  overflow: hidden;
  position: relative;
}

.cursor-pointer-zoom img {
  transition: transform 0.3s ease;
}

.cursor-pointer-zoom:hover img {
  transform: scale(1.1); /* Adjust the scale factor as desired */
}

.cursor-zoom {
  cursor: zoom-in;
}
/* Estilo para dropdown fixo */
.dropdown-menu {
  display: none; /* Escondido por padrão */
  position: absolute;
  top: 100%; /* Logo abaixo do ícone */
  right: 0; /* Alinhado à direita */
  z-index: 50; /* Garante que estará sobre outros elementos */
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.group:hover .dropdown-menu,
.dropdown-menu:hover {
  display: block; /* Mostra o menu ao passar o mouse ou manter o hover */
}

.dropdown-menu p {
  padding: 0.8rem 1rem;
  cursor: pointer;
  transition: color 0.2s;
}

.dropdown-menu p:hover {
  color: black; /* Destaque ao passar o mouse */
}
.product-sort-dropdown {
  height: 2rem; /* Adjust height for mobile */
}

@media (min-width: 640px) {
  .product-sort-dropdown {
    height: auto; /* Reset height for larger screens */
  }
}
