@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
  display: block;
}

* {
  font-family: Outfit;
}

.prata-regular {
  font-family: 'Prata', serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

/* Sobrescreve a posição do container do toast */
.Toastify__toast-container {
  top: 50% !important; /* Centraliza verticalmente */
  transform: translateY(-50%) !important; /* Corrige o deslocamento vertical */
  right: 1rem !important; /* Define a posição no lado direito */
}

/* Para garantir que as notificações individuais tenham padding adequado */
.Toastify__toast {
  margin-bottom: 1rem;
}

/* Botões de navegação */
.swiper-button-next,
.swiper-button-prev {
  color: #c7c1c1; /* Cor dos botões */
  font-size: 20px; /* Tamanho maior */
  width: 40px; /* Largura do botão */
  height: 40px; /* Altura do botão */
  font-weight: 700; /* Fonte mais grossa (negrito) */
}

@media (max-width: 640px) {
  /* Telas pequenas (mobile) */
  .swiper-button-next,
  .swiper-button-prev {
    font-size: 14px; /* Tamanho menor das setas */
    width: 40px; /* Largura reduzida para dispositivos menores */
    height: 40px; /* Altura reduzida para dispositivos menores */
  }
}

@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}

.cursor-pointer-zoom {
  overflow: hidden;
  position: relative;
}

.cursor-pointer-zoom img {
  transition: transform 0.3s ease;
}

.cursor-pointer-zoom:hover img {
  transform: scale(1.1); /* Adjust the scale factor as desired */
}

.cursor-zoom {
  cursor: zoom-in;
}
/* Estilo para dropdown fixo */
.dropdown-menu {
  display: none; /* Escondido por padrão */
  position: absolute;
  top: 100%; /* Logo abaixo do ícone */
  right: 0; /* Alinhado à direita */
  z-index: 50; /* Garante que estará sobre outros elementos */
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.group:hover .dropdown-menu,
.dropdown-menu:hover {
  display: block; /* Mostra o menu ao passar o mouse ou manter o hover */
}

.dropdown-menu p {
  padding: 0.8rem 1rem;
  cursor: pointer;
  transition: color 0.2s;
}

.dropdown-menu p:hover {
  color: black; /* Destaque ao passar o mouse */
}
